@using System.Web.UI.HtmlControls
@model ShareReading.WebSite.Models.UserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "注册";
}
<div class="container">
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.Label("用 户 名", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new {@class = "form-control", @placeholder = "您的登录名"})
                    @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("设 置 密 码", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.PassWord, new {@class = "form-control", @placeholder = "建议至少使用两种字符组合"})
                    @Html.ValidationMessageFor(model => model.PassWord, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("确 认 密 码", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.PassWordConfirm, new {@class = "form-control", @placeholder = "请确认密码"})
                    @Html.ValidationMessageFor(model => model.PassWordConfirm, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="MobileRegister" style="display:block;">
                @Html.Label("手 机 验 证", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserTel, new {@class = "form-control", @placeholder = "请使用常用手机"})

                    @Html.ValidationMessageFor(model => model.UserTel, "", new {@class = "text-danger"})
                </div>
                <a href="javascript:;" class="col-md-offset-5 " onclick="change1()">邮箱验证</a>
            </div>

            <div class="form-group" id="EmailRegister" style="display:none;">
                @Html.Label("邮 箱 验 证", new {@class = " control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserEmail, new {@class = "form-control", @placeholder = "请使用常用邮箱"})
                    @Html.ValidationMessageFor(model => model.UserEmail, "", new {@class = "text-danger"})
                </div>
                <a href="javascript:;" class="col-md-offset-5 " onclick="change2()">手机验证</a>
            </div>
            <div class="form-group">
                @Html.Label(" 验 证 码", new {@class = " control-label col-md-2"})
                <div class="col-md-3">
                    <input type="text" autocomplete="off" name="VerifyCode" id="authCode" maxlength="6" class="form-control"
                           placeholder="请输入验证码"/>
                </div>
                <img title="换一换" id="imgAuthCode" class="col-md-2" src="/User/VerifyCode" alt="验证码图片"
                     onclick="refresh(this)"/>
            </div>
            <div class="form-group">
                <label class="col-md-offset-2 ">
                    <input type="checkbox"> 已阅读并同意<a href="#">《享阅网协议》</a>
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="注册" class="btn btn-lg btn-info btn-block btn-rounded"/>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-1 ">
                <a href="/User/Login" class="btn btn-defult">立即登录</a>
            </div>
            <div class="col-md-1 ">
                <a href="/User/Login" class="btn btn-defult">QQ登录</a>
            </div>
            <div class="col-md-1">
                <a href="/User/Login" class="btn btn-defult">wx登录</a>
            </div>
        </div>
    }
</div>
@section scripts{
<script>
    function refresh(obj) {
        $(obj).attr("src", "/User/VerifyCode?random=" + Math.random());
    }

    function change1() {
        $("#EmailRegister").show();
        $("#MobileRegister").hide();
    }
    function change2() {
        $("#MobileRegister").show();
        $("#EmailRegister").hide();
    }
</script>
}
